
/* BASE */
html, body {
  position: relative;
  min-height: 100%;
  display: block;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 1em;
  display: flex;
  position: relative;
}


/* COMPONENTS */
i {
  display: inline-block;
  margin: auto;
  padding: 0;
  width: 100%;
  height: auto;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.logo {
  padding: 1rem;
  width: 100%;
  height: 500px;
  flex: 1 1 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

.divider {
  &-horiz {
    width: 1px;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid;
    min-height: 8em;
    height: 100%;
    display: block;
    align-self: center;
    vertical-align: middle;
    flex: 0;
  }

  &-vert {

  }
}
.features {
  .logo-container {
    width: 250px;

    i {
      height: 100%;
      position: relative;
    }
  }

  h2 {
    margin-bottom: 1em;
    &.example {
      margin-bottom: auto;
    }
  }
}

.template-title {
    position: absolute;
    top: 1em;
    left: 1em;
}
.swatch {
  padding: 0.8em;
  text-align: center;
  color: inherit;
  font-weight: 400;
}



@media(max-width: 1200px){
  body {
    font-size: 16px;
  }
}

p {
  font-size: 1em;
  margin: .3em 0;
}

.font {
  &-thin    { font-weight: 100; }
  &-light   { font-weight: 300; }
  &-regular { font-weight: 400; }
  &-bold    { font-weight: 700; }
  &-heavy   { font-weight: 900; }
  &-italic  { font-style: italic; }
  &-shadow  { text-shadow: -5px 2px 2px rgba(0, 0, 0, 0.72); }
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  color: inherit;
  margin: .4em 0;
  padding: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: normal;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.0em; }
h6 { font-size: 0.8em; }

.align {
  &-left   { text-align: left; }
  &-center { text-align: center; }
  &-right  { text-align: right; }
}

.z-shadow-1 {
  box-shadow: -4px 7px 24px 3px rgba(0,0,0,.6);
}



/* TYPOGRAPHY */
body {
  font-weight: 300;
  font-size: 20px;
}
