<link rel="stylesheet" href="/css/jquery.fullpage.css">
{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "expanded" "enableSourceMap" false ) }}
{{ $style := resources.Get "css/styles.scss" | resources.ToCSS $options | resources.Minify  }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ if .Site.Params.pdf_style  }}
<!-- Set page size here: A5, A4 or A3 -->
<!-- Set also "landscape" if you need -->
<link rel="stylesheet" href="/css/paper.css" />
<style>@page { size: legal landscape }</style>
{{ end }}
